.charts-Progress{
    display: grid;
    /* height: calc(100% - 29px); */
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    overflow: auto;
}

.steps-Progress{
    background-color: white;
}
.b-Progress{
    background-color: rgb(173, 45, 45);
}
.c-Progress{
    background-color: rgb(39, 37, 167);
}
.d-Progress{
    background-color: rgb(44, 255, 114);
}

@media (max-width: 1140px){
    .charts-Progress{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,50%);
    }
}